Q 1) How-to-count-distance-to-the-previous-zeroFor each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [56]:
import pandas as pd

In [57]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [58]:
counter=1 #idea is to iterate in dataframe column x till we find 0 till the time no zero is encountered we will continue to increaase the counter  
list1=[]
for i in range(len(df['X'])):
    if(df['X'].loc[i]==0): #if 0 is encounterd than reset the index
        counter=0
    list1.append(counter)
    counter+=1
df['Y']=list1    
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [60]:
# Queston 2,3,4,5
# Q 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
# Series of random numbers.
# Q 3) Find the sum of the values in s for every Wednesday
# Q 4) Average For each calendar month
# Q 5) For each group of four consecutive calendar months in s, find the date on which the
# highest value occurred.

In [64]:
import numpy as np

In [169]:
# Q 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
# Series of random numbers.
rng=pd.date_range(start='01/01/2015' ,end='31-12-2015' ,freq='B')#creating date time index

s= pd.Series(np.random.randn(len(rng)), index=rng)

In [147]:
# Q 3) Find the sum of the values in s for every Wednesday
s[rng.weekday==2].sum() #weekdays give you the index which we than use to filter oiut the wednesday

-5.122073864115668

In [173]:
# # Q 4) Average For each calendar month
# dir(rng) #to check te available functions
#first method
s.groupby(rng.month).mean()

1     0.245063
2    -0.059490
3    -0.140072
4    -0.081258
5     0.222428
6     0.170702
7    -0.196169
8    -0.228293
9     0.028349
10   -0.457668
11   -0.357175
12   -0.021225
dtype: float64

In [171]:
#2nd method
s.resample('M', how='mean')

C:\Users\Abhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()

2015-01-31    0.245063
2015-02-28   -0.059490
2015-03-31   -0.140072
2015-04-30   -0.081258
2015-05-31    0.222428
Freq: M, dtype: float64

In [ ]:
# Q 5) For each group of four consecutive calendar months in s, find the date on which the
# highest value occurred.

In [168]:
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Users\Abhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-09
2015-05-31   2015-03-17
2015-09-30   2015-07-21
2016-01-31   2015-12-23
dtype: datetime64[ns]